body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}